@model Rubay.Web.App.Models.CartViewResult


@{
    ViewData["Title"] = "CartAccount";
}

<h1>My Cart: @Model.UserName</h1>

<table class="table">
    <tbody>
        @{
            if (Model.Products.Count > 0)
            {
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ModelId</td>
                        <td>@item.ModelName</td>
                        <td>@item.Description</td>
                        <td>@item.Quantity</td>
                        <td>@Html.ActionLink("Remove", "DeleteFromCart", "CartAccount", item)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Cart is Empty</td>
                </tr>
            }
        }
    </tbody>
</table>
