@model IEnumerable<Rubay.Web.App.Models.ProductViewResult>


@{
    ViewData["Title"] = "CartAccount";
}

<table class="table">
    <tbody>
        @{
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ModelId</td>
                    <td>@item.ModelName</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>

                    <td>
                        @if (item.Quantity > 0)
                        {
                            @Html.ActionLink("Add to Cart", "InsertToCart", "Product", item)
                        }
                        else
                        {
                            <p>Non Disponibile</p>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
